<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Something_about_us</title>
</head>
<body>
<div>Самойленко Павел Олегович Б8120-02.03.01сцт samoilenko.po@students.dvfu.ru<br>
Фомин Егор Александрович Б8120-02.03.01сцт  fomin.ea@students.dvfu.ru<br>
Агличеев Александр Олегович Б8120-01.03.02миопд aglicheev.ao@students.dvfu.ru<br>
Хлевов Фёдор Андреевич Б8120-02.03.01сцт khlevov.fa@students.dvfu.ru<br>
Марченко Михаил Алексеевич Б8120-02.03.01сцт marchenko.male@students.dvfu.ru<br></div>
<img src="{% static '/map/icons/us.jpg' %}">
</body>
</html>