<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static "login/css/login.css" %}>
    <title>login</title>
</head>
<body>
     <div style="display: flex; align-items: center; justify-content: center; height: 100%">
        <form method="POST" class="form-group">
        <h1>Log in</h1>
        {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            {% for message in messages %}
                <p id="messages">{{ message }}</p>
            {% endfor %}
        <p>Don't have an account? Create one <a href="{% url 'register' %}">here</a></p>
        <button type="submit" class="btn btn-success">Login</button>
        </form>
     </div>
</body>
</html>