<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static "register/css/registerstyle.css" %}>
    <title>Register</title>
</head>
<body>
    <form method="POST" class="form-group">
	{% csrf_token %}
	{{ form }}
	<button type="submit" class="btn btn-success">Register</button>
        <p class="signin">
         Already have an account?
         <a href="/login">
             Sign in
         </a>
         .
     </p>
    </form>
</body>
</html>