{% load static %}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static '/map/css/indexcss.css' %}">
<script type="text/javascript">var events =  JSON.parse('{{ events | safe }}');</script>
<script src="{% static '/map/js/map_scripts.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <title>Эвенты на кампусе</title>
</head>
<body>

    <article>
        <section class="side_menu">
            <div class="top_menu">
                <a href="{% url 'show_personalarea' %}" class="home">
                    <img src="{% static '/map/icons/home.png' %}">
                    <span>Личный кабинет</span></a>
                <span><a href="{% url 'logout' %}">Выйти</a></span>
            </div>
            <a href="{% url 'create' %}" class="button">Добавить эвент</a>
            <div style="border-bottom: 1px solid lightgrey; margin-bottom: 50px">
                <p class="tags_list">
                    Фильтр эвентов по тегам:
                    {% for tag in tags %}
                        <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </p>
            </div>
            <p>
                <h3 class="events_label">Близжайшие эвенты:</h3>
                <ul class="events_list">
                    {% for event in next_events %}
                        <li class="event"><span>{{ event.name }}</span><span>{{ event.date }}</span></li>
                    {% endfor %}
                </ul>
            </p>
            <p class="map_legend">
                Легенда карты(Нажмите, чтобы скрыть ненужные маркеры):
                <p class="legend_unit"><img src="{% static '/map/icons/orange.png' %}"> - Жилые корпуса</p>
                <p class="legend_unit"><img src="{% static '/map/icons/green.png' %}"> - Учебные корпуса</p>
                <p class="legend_unit"><img src="{% static '/map/icons/red.png' %}"> - Эвенты</p>
            </p>
        </section>

        <section class="map_container">
            <div id="map"></div>
        </section>
    </article>
</body>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_qdFH2u4nfmDKZn5O4kq1wswaAstWolE&callback=my_map" async defer></script>
</html>