* {
  	margin: 0;
  	padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', Roboto, Oxygen, Ubuntu, Cantarell, 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #454e59;
	height: 100vh;
}

a {
	color: rgb(25,163,225);
	text-decoration: none;
}

a:visited {
	color: rgb(25,163,225);
}

button {
	cursor: pointer;
}

button:active {
	box-shadow: 0 0 0 2pt rgb(191,229,244);
}

button:hover {
	background-color: rgb(0,123,175);
}

.helptext {
	text-align: center;
}

.form-group {
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	width: 25%;
	background: white;
	padding: 2% 0 2% 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.btn-success {
	background-color: rgb(0,150,213);
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	width: 75%;
	justify-content: center;
	border-radius: 5px;
	border: none;
	font-weight: 500;
	font-size: 16px;
}

html {
	background: rgb(242,250,254);
	width: 100vw;
	height: 100vh;
}

footer{
	display: flex;
	justify-content:center;
	flex: 0 0 auto;
}

input {
	width: 75%;
	padding: 15px;
	margin: 10px 0 0 0;
	display: flex;
	border: none;
	border-radius: 5px;
	background: rgb(232,240,254);
}
input:focus {
	outline: none;
	box-shadow: 0 0 0 2pt rgb(191,229,244);
}

.btn:focus {
      outline: none;
}