{% extends 'personalarea/index.html' %}
{% load static %}

{% block label_form %}
<div class="main_information_right_panel">
        <div class="profile_information_panel_row">
            <div class="profile_information_panel_column1">
                <div class="profile_information_panel_column1_row">
                    Логин:
                </div>
                <div class="profile_information_panel_column1_row">
                    Имя:
                </div>
                <div class="profile_information_panel_column1_row">
                    Фамилия
                </div>
                <div class="profile_information_panel_column1_row">
                    Личный адрес эл. почты:
                </div>
                <div class="profile_information_panel_column1_row">
                    Телефон:
                </div>
                <div class="profile_information_panel_column1_row">
                    Аватар:
                </div>
            </div>
{% endblock %}
{% block profile_information %}
    <form method="POST" id="submitbutton" enctype="multipart/form-data" class="profile_information_panel_column2">
    {% csrf_token %}
    <div class="profile_information_panel_column2">
            <div class="profile_information_panel_column2_row">
                {{ user.get_username }}
            </div>
            <div class="profile_information_panel_column2_row_change">
                    {{ form.first_name }}
            </div>
            <div class="profile_information_panel_column2_row_change">
                    {{ form.last_name }}
            </div>
            <div class="profile_information_panel_column2_row_change">
                    {{ form.email }}
            </div>
            <div class="profile_information_panel_column2_row_change">
                    {{ form_.phone }}
            </div>
            <div class="profile_information_panel_column2_row_change">
                    {{ form_.avatar }}
            </div>
    </div>
    </form>
{% endblock %}

{% block left_panel %}
    <div class="main_information_left_panel">
        <div class="profile_picture">
            {% if user_.avatar %}
            <img src="{{ user_.avatar.url }}" width="100%" height="100%">
            {% endif %}
        </div>

        <div class="edit_button_area">
            <button type="submit" form="submitbutton" class="edit_button">Применить</button>
        </div>
    </div>
{% endblock %}
