{% extends 'personalarea/index.html' %}
{% block right_windows %}
        <div class="right_window">
            <main>
                {% if user.is_authenticated %}
                    {% for event in user_events %}
                        <li class="events_list">
                           <a class="event_name" href="{% url 'back_form' event.id %}">{{ event.name }}</a>
                       </li>
                    {% endfor %}
                {% endif %}
            </main>
        </div>
{% endblock %}

