<!DOCTYPE html>
{% load static %}
<html lang="rus">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href={% static "personalarea/css/style.css" %}>
        <script src="{% static '/personalarea/js/pa_js.js' %}"></script>
		<title>Lichnyi kabinet</title>
	</head>	
	<body>
		<div class="wrapper">
			<div class="left_window">
				<div class="back_to_main_page_bottom_area">
					<div class="back_to_main_page_bottom_swadow">
						<a href="{% url 'map' %}" class="back_to_main_bottom">Вернуться на главную</a>
					</div>
				</div>
				<nav class="personal_area_navigation">
					<div class="navigation_panel">
						<a href="{% url 'show_personalarea' %}" class="navigation_bottom">Профиль</a>
					</div>
					<div class="navigation_panel">
						<a href="{% url 'planed_events' %}" class="navigation_bottom">Запланированные ивенты</a>
					</div>
					<div class="navigation_panel">
						<a href="{% url 'ended_events' %}" class="navigation_bottom">Посещенные ивенты</a>
					</div>
                    <div class="navigation_panel">
						<a href="{% url 'my_events' %}" class="navigation_bottom">Мои ивенты</a>
					</div>
				</nav>
			</div>
        {% block right_windows %}
			<div class="right_window">
				<main>
					<div class="main_information_swadow">
                    {% block left_panel %}
						<div class="main_information_left_panel">
							<div class="profile_picture">
								
							</div>
							<div class="profile_picture_information">
								Макс размер и прочее
							</div>
                            <div class="edit_button_area">
                                <a href="edit" class="edit_button">Изменить</a>
                            </div>
						</div>
                    {% endblock %}
						<div class="main_information_right_panel">
							<div class="profile_information_panel_row">
								<div class="profile_information_panel_column1">
									<div class="profile_information_panel_column1_row">
										Логин:
									</div>
									<div class="profile_information_panel_column1_row">
										Имя:
									</div>
									<div class="profile_information_panel_column1_row">
										Фамилия
									</div>
									<div class="profile_information_panel_column1_row">
										Дата рождения:
									</div>
									<div class="profile_information_panel_column1_row">
										Личный адрес эл. почты:
									</div>
									<div class="profile_information_panel_column1_row">
										Мобильный телефон:
									</div>
								</div>
                                {% block profile_information %}
								<div class="profile_information_panel_column2">
                                    {% if user.is_authenticated %}
									<div class="profile_information_panel_column2_row">
										{{ user.username }}
									</div>
									<div class="profile_information_panel_column2_row">
										{{ user.first_name }}
									</div>
									<div class="profile_information_panel_column2_row">
                                        {{ user.last_name }}
									</div>
									<div class="profile_information_panel_column2_row">

									</div>
									<div class="profile_information_panel_column2_row">
										{{ user.email }}
									</div>
									<div class="profile_information_panel_column2_row">

									</div>
                                    {% endif %}
								</div>
                                {% endblock %}
							</div>
						</div>
					</div>
				</main>
			</div>
        {% endblock %}
		</div>
	</body>
</html>