<!DOCTYPE html>
{% load static %}
<html lang="rus">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href={% static "personalarea/css/style.css" %}>
		<title>Lichnyi kabinet</title>
	</head>	
	<body>
		<div class="wrapper">
			<div class="left_window">
				<div class="back_to_main_page_bottom_area">
					<div class="back_to_main_page_bottom_swadow">
						<a href="#" class="back_to_main_bottom">Вернуться на главную</a>
					</div>
				</div>
				<nav class="personal_area_navigation">
					<div class="navigation_panel">
						<a href="#" class="navigation_bottom">Профиль</a>
					</div>
					<div class="navigation_panel">
						<a href="#" class="navigation_bottom">Запланированные ивенты</a>
					</div>
					<div class="navigation_panel">
						<a href="#" class="navigation_bottom">Посещенные ивенты</a>
					</div>
				</nav>
			</div>
			<div class="right_window">
				<main>
					<div class="main_information_swadow">
						<div class="main_information_left_panel">
							<div class="profile_picture">
								
							</div>
							<div class="profile_picture_information">
								Макс размер и прочее
							</div>
						</div>
						<div class="main_information_right_panel">
							<div class="profile_information_panel_row">
								<div class="profile_information_panel_column1">
									<div class="profile_information_panel_column1_row">
										Логин:
									</div>
									<div class="profile_information_panel_column1_row">
										Дата рождения:
									</div>
									<div class="profile_information_panel_column1_row">
										Пол:
									</div>
									<div class="profile_information_panel_column1_row">
										Эл. почта ДВФУ:
									</div>
									<div class="profile_information_panel_column1_row">
										Личный адрес эл. почты:
									</div>
									<div class="profile_information_panel_column1_row">
										Мобильный телефон:
									</div>
								</div>
								<div class="profile_information_panel_column2">
									<div class="profile_information_panel_column2_row">
										нигол
									</div>
									<div class="profile_information_panel_column2_row">
										бубстерс
									</div>
									<div class="profile_information_panel_column2_row">
										
									</div>
									<div class="profile_information_panel_column2_row">
										
									</div>
									<div class="profile_information_panel_column2_row">
										
									</div>
									<div class="profile_information_panel_column2_row">
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</body>
</html>