<!DOCTYPE html>
{% load static %}
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static "formofevent/css/eventStyle.css" %}>
    <script>
        var lat = parseFloat('{{ event.lat }}'.replace(",", "."));
        var lng = parseFloat('{{ event.lng }}'.replace(",", "."));x
    </script>
    <script src="{% static '/formofevent/js/cur_event_map.js' %}"></script>
    <title>Name of event</title>
</head>
<body>
    <div class="wrapper">
        <main>
            <header>
                    <div class="back_button_container">
                        <a class="button back_button_shadow" href="{% url 'map' %}">
                            <div class="back_button" style = "color: white;">Back</div>
                        </a>
                    </div>
                <div class="title_container">
                    <p class="title">Campus Events</p>
                </div>
                    <div class="lk_button_container">
                        <a class="button lk_button_shadow" href="#">
                            <div class="lk_button" style = "color: white;">LK</div>
                        </a>
                    </div>
            </header>
            <div class="main_content">
                <div class="left_side">
                    <div class="text_location">
                        <p>Местоположение</p>
                    </div>
                    <div class="left_img_container">
                        <div id="map"></div>
                    </div>
                    <div class="left_text_container">
                        <div class="address_container">
                            <address>Адрес:<span>{{ event.address }}</span></address>
                        </div>
                        <div class="contacts_container">
                            <p class="contacts">Связь с организатором:</p>
                        </div>
                        {% if event.vk %}
                        <div class="vk_container">
                            <p class="vk">Вконтакте: {{ event.vk }}</p>
                        </div>
                        {% endif %}
                        {% if event.email %}
                        <div class="mail_container">
                            <p class="mail">Почта: {{ event.email }}</p>
                        </div>
                        {% endif %}
                        {% if event.phone %}
                        <div class="phone_container">
                            <p class="phone">Телефон: {{ event.phone }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="right_side">
                    <div class="name_container">
                        <p>{{ event.name }}</p>
                    </div>
                    <div class="right_img_container">
                        <div class="right_img">
                            Блок для изображения
                        </div>
                    </div>
                    <div class="main_text_container">
                        <div class="main_text">
                            <p>
                                {{ event.info }}
                            </p>
                        </div>
                    </div>
                    <div class="create_button_container">
                        <div class="button create_button_shadow">
                            {% if request.user == event.creator %}
                                <a class="button" style="padding:10px 0px"href="{% url 'edit_party' event.id %}">Редактировать</a>
                            {% elif request.user not in event.members_list.all %}
                                <a class="button" style="padding:10px 0px"href="{% url 'party' event.id %}">Участвовать</a>
                            {% else %}
                                <a class="button" style="padding:10px 0px"href="{% url 'leave_party' event.id %}">Не участвовать</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
{#            <footer>#}
{#                <div class="footer_container">#}
{#                    <p> "Campus events" Team Product </p>#}
{#                </div>#}
{#            </footer>#}
        </main>
    </div>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_qdFH2u4nfmDKZn5O4kq1wswaAstWolE&callback=my_map" async defer></script>
</html>