<!DOCTYPE html>
{% load static %}
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static "formofevent/css/eventStyle.css" %}>
    <script src="{% static '/formofevent/js/cur_event_map.js' %}"></script>
    <title>Name of event</title>
</head>
<body>
    <div class="wrapper">
        <main>
            <header>
                <div class="back_button_container">
                    <div class="back_button_shadow">
                        <a class="back_button" href="/map">Back</a>
                    </div>
                </div>
                <div class="title_container">
                    <p class="title">Campus Events</p>
                </div>
                <div class="lk_button_container">
                    <div class="lk_button_shadow">
                        <a class="lk_button" href="/personalarea">LK</a>
                    </div>
                </div>
            </header>
            <div class="main_content">
                <div class="left_side">
                    <div class="text_location">
                        <p>Местоположение</p>
                    </div>
                    <div class="left_img_container">
                        <div id="map"></div>
                    </div>
                    <div class="left_text_container">
                        <div class="address_container">
                            <address>Адрес:</address>
                        </div>
                        <div class="members_container">
                            <p class="members"> Участники:</p>
                        </div>
                        <div class="contacts_container">
                            <p class="contacts">Связь с организатором:</p>
                        </div>
                        <div class="vk_container">
                            <p class="vk">Вконтакте:</p>
                        </div>
                        <div class="mail_container">
                            <p class="mail">Почта:</p>
                        </div>
                        <div class="phone_container">
                            <p class="phone">Телефон:</p>
                        </div>
                    </div>
                </div>
                <div class="right_side">
                    <div class="name_container">
                        <p>Name_of_event</p>
                    </div>
                    <div class="right_img_container">
                        <div class="right_img">
                            Блок для изображения
                        </div>
                    </div>
                    <div class="main_text_container">
                        <div class="main_text">
                            <p>
                                text text text text text text text text text text text
                                text text text text text
                                text text text text text text text text text text text
                            </p>
                        </div>
                    </div>
                    <div class="member_button_container">
                        <div class="member_button_shadow">
                            <a class="member_button" href="#">Участвовать</a>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="footer_container">
                    <p> "Campus events" Team Product </p>
                </div>
            </footer>
        </main>
    </div>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_qdFH2u4nfmDKZn5O4kq1wswaAstWolE&callback=my_map" async defer></script>
</html>