<!DOCTYPE html>
{% load static %}
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static "formofevent/css/eventStyle.css" %}>
    <script>
        var lat = parseFloat('{{ event.lat }}'.replace(",", "."));
        var lng = parseFloat('{{ event.lng }}'.replace(",", "."));x
    </script>
    <script src="{% static '/formofevent/js/cur_event_map.js' %}"></script>
    <title>Name of event</title>
</head>
<body>
    <div class="wrapper">
        <main>
            <div class="main_content">
                <div class="left_side">
                    <div class="text_location">
                        <p>Местоположение</p>
                    </div>
                    <div class="left_img_container">
                        <div id="map"></div>
                    </div>
                    <div class="left_text_container">
                        <div class="address_container">
                            <address>Адрес:<span>{{ event.address }}</span></address>
                        </div>
                        <div class="address_container" id="members">
                            <p>Участники:<span>{{ count }}/{{ event.members }}</span></p>
                        </div>
                        <div class="contacts_container">
                            <p class="contacts">Связь с организатором:</p>
                        </div>
                        {% if event.vk %}
                        <div class="vk_container">
                            <p class="vk">Вконтакте: {{ event.vk }}</p>
                        </div>
                        {% endif %}
                        {% if event.email %}
                        <div class="mail_container">
                            <p class="mail">Почта: {{ event.email }}</p>
                        </div>
                        {% endif %}
                        {% if event.phone %}
                        <div class="phone_container">
                            <p class="phone">Телефон: {{ event.phone }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="right_side">
                    <div class="name_container">
                        <p style="font-size: 24px">{{ event.name }}</p>
                    </div>
                    <div class="right_img_container">
                        <div class="right_img">
                            {% if event.image %}
                                <img src="{{ event.image.url }}" width="100%" height="100%" style="border-radius: 15px">
                            {% endif %}
                        </div>
                    </div>
                    <div class="main_text_container">
                        <div class="main_text">
                            <p>
                                {{ event.info }}
                            </p>
                        </div>
                    </div>
                    <div class="bottom_nav">
                        {% block back %}
                            <div class = "create_button_container">
                                    <a class="button_link"  href="{% url 'map' %}" >Назад на карту</a>
                            </div>
                        {% endblock %}
                        <div class="create_button_container">
                                {% if request.user == event.creator %}
                                    <a class="button_link" href="{% url 'edit_party' event.id %}">Редактировать</a>
                                {% elif request.user not in event.members_list.all %}
                                    {% if count < event.members %}
                                        <a class="button_link" href="{% url 'party' event.id %}">Участвовать</a>
                                    {% else %}
                                        <a class="button_link" style="background-color: grey" href="#">Участвовать</a>
                                    {% endif %}
                                {% else %}
                                    <a class="button_link" href="{% url 'leave_party' event.id %}">Не участвовать</a>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    {% if count > 0 %}
        <div>
            <div class="members_list" id="mem_list">
                <p>Список участников:</p>
                {% for member in event.members_list.all %}
                    <p><span>{{ member }}</span></p>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_qdFH2u4nfmDKZn5O4kq1wswaAstWolE&callback=my_map" async defer></script>
</html>