<!DOCTYPE html>
{% load static %}
<html lang="rus">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href={% static "createEvent/css/createStyle.css" %}>
        <script> var token = '{{ csrf_token }}'</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static '/createEvent/js/create_js.js' %}"></script>
        <title>Create event</title>
    </head>
    <body>
        <div class="wrapper">
            <main>
                <header>
                    <div class="back_button_container">
                        <div class="back_button_shadow">
                            <a class="back_button" href="#" style = "color: white;">Back</a>
                        </div>
                    </div>

                    <div class="title_container">
                        <p class="title">Campus Events</p>
                    </div>

                    <div class="lk_button_container">
                        <div class="lk_button_shadow">
                            <a class="lk_button" href="#" style = "color: white;">LK</a>
                        </div>
                    </div>
                </header>

                <div class="main_content">
                    <div class="left_side">
                        <div class="text_location">
                            <p>Укажите место на карте:</p>
                        </div>



                        <div class="left_img_container">
                            <div id="map"></div>
                        </div>

                        <div class="left_text_container">
                            <div class = "flex_block">
                                <div class = "address_container">
                                    <address>Введите адрес:</address>
                                </div>

                                <div class = "address_value">
                                    <input type = "text" size = "29">
                                </div>
                            </div>

                            <div class = "flex_block">
                                <div class="members_container">
                                    <p class="members"> Введите количество участников: </p>
                                </div>

                                <div class = "members_value">
                                    <input type = "text" size = "5">
                                </div>
                            </div>

                            <div class="contacts_container">
                                <p class="contacts"><b>Как с вами связаться:</b></p>
                            </div>

                            <div class = "flex_block">
                                <div class="field_name">
                                    <p class="members"> Ваша страница VK: </p>
                                </div>

                                <div class = "field_value">
                                    <input type = "text" size = "15">
                                </div>
                            </div>

                            <div class = "flex_block">
                                <div class="field_name">
                                    <p class="members"> Ваша почта: </p>
                                </div>

                                <div class = "field_value">
                                    <input type = "text" size = "15">
                                </div>
                            </div>

                            <div class = "flex_block">
                                <div class="field_name">
                                    <p class="members"> Ваш мобильный телефон: </p>
                                </div>

                                <div class = "field_value">
                                    <input type = "text" size = "15">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right_side">
                        <div class = "name_of_event">
                            <div class="name_container">
                                <p>Введите название вашего мероприятия:</p>
                            </div>

                            <div class = "name_value">
                                <input type = "text" size = "50">
                            </div>
                        </div>

                        <div class="right_img_container">
                            <div class="right_img">
                                Блок для изображения
                            </div>
                        </div>

                        <div class="main_text_container">
                            <p class="text_description">
                                <b>Введите описание мероприятия:</b>
                            </p>
                            <textarea cols = "70" rows = "20" class = "main_text">Ваше описание...</textarea>
                        </div>

                        <div class = "tags_container">
                            <p><select>
                                <option selected="selected">Выберите тег</option>
                                <option>Официальное</option>
                                <option>Неофициальное</option>
                            </select></p>
                        </div>

                        <div class = "create_button_container">
                            <div class = "create_button_shadow">
                                <a class="create_button" href="#" style = "color: white;">Создать мероприятие</a>
                            </div>
                        </div>
                    </div>
                </div>

                <footer>
                    <div class="footer_container">
                        <p> "Campus events" Team Product </p>
                    </div>
                </footer>
            </main>
        </div>
    </body>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_qdFH2u4nfmDKZn5O4kq1wswaAstWolE&callback=my_map" async defer></script>
</html>