<!DOCTYPE html>
{% load static %}
<html lang="rus">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href={% static "createEvent/css/createStyle.css" %}>
        <script> var token = '{{ csrf_token }}'</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static '/createEvent/js/create_js.js' %}"></script>
        <title>Create event</title>
    </head>
    <body>
        <div class="wrapper">
            <main>
                <div class="main_content">
                    <div class="left_side">
                        <div class="text_location">
                            <p>Укажите место на карте:</p>
                        </div>

                        <div class="left_img_container">
                            <div id="map"></div>
                        </div>

                        <div class="left_text_container">
                            <div class = "flex_block">
                                <div class = "address_container">
                                    <address>Введите адрес:</address>
                                </div>

                                <div class = "address_value">
                                    <form method="POST" id="form-main" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.address }}
                                        {{ form.lat }}
                                        {{ form.lng }}
                                    </form>
                                </div>
                            </div>

                            <div class = "flex_block">
                                <div class="members_container">
                                    <p class="members"> Введите количество участников: </p>
                                </div>

                                <div class = "members_value">
                                    {{ form.members }}
                                </div>
                            </div>

                            <div class="contacts_container">
                                <p class="contacts"><b>Как с вами связаться:</b></p>
                            </div>

                            <div class = "flex_block">
                                <div class="field_name">
                                    <p class="members"> Ваша страница VK: </p>
                                </div>

                                <div class = "field_value">
                                    {{ form.vk }}
                                </div>
                            </div>

                            <div class = "flex_block">
                                <div class="field_name">
                                    <p class="members"> Ваша почта: </p>
                                </div>

                                <div class = "field_value">
                                    {{ form.email }}
                                </div>
                            </div>

                            <div class = "flex_block">
                                <div class="field_name">
                                    <p class="members"> Ваш мобильный телефон: </p>
                                </div>

                                <div class = "field_value">
                                    {{ form.phone }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right_side">
                        <div class = "name_of_event">
                            <div class="name_container">
                                <p>Введите название мероприятия:</p>
                            </div>

                            <div class = "name_value">
                                {{ form.name }}
                            </div>
                        </div>

                        <div class="right_img_container">
                            <div class="right_img">
                                <h2 align = "center">
                                    <b>Добавьте фотографию, чтобы стало понятнее:</b>
                                </h2>
                                <div class="right_img_button">
                                    {{ form.image }}
                                </div>
                            </div>
                        </div>

                        <div class="main_text_container">
                            <p class="text_description">
                                <b>Введите описание мероприятия:</b>
                            </p>
                            {{ form.info }}
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center">
                            <span style="margin-right: 20px">Дата проведения: </span>{{ form.date }}
                        </div>
                        <div style="margin-right: auto; margin-left: auto; text-align: center">
                            <p>Тэги:</p>
                            <div style="max-height: 100px; overflow-y: scroll; max-width: 300px">
                                {{ form.tags }}
                            </div>
                        </div>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                    {% block nav %}
                        <div class="bottom_nav">
                            <div class = "create_button_container">
                                <a class="button_link" href="{% url 'map' %}" >Отменить</a>
                            </div>
                            <div class = "create_button_container">
                                    <button class="button_link" style="width: 80px;" type="submit"  form="form-main">Создать</button>
                            </div>
                        </div>
                    {% endblock %}
                    </div>
                </div>
            </main>
        </div>
    </body>
    <script>
        var form_fields = document.getElementsByTagName('input')
        for(let i = 0; i < form_fields.length; i++) {
            form_fields[i].setAttribute("form", "form-main");
        }
        var text_field = document.getElementsByTagName('textarea')
        for(let i = 0; i < text_field.length; i++) {
            text_field[i].setAttribute("form", "form-main");
        }
        var date_field = document.getElementsByName('date')
        date_field[0].type = 'date';
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_qdFH2u4nfmDKZn5O4kq1wswaAstWolE&callback=my_map" async defer></script>
</html>