{% extends 'createevent/create.html' %}

{% block nav %}
    <div class="bottom_nav">
    <a href="{% url 'show_form_of_event' pk %}">
        <div class = "create_button_container">
            <div class = "button create_button_shadow">
                <div class="create_button" style = "color: white; border-radius: 15px; background-color: cornflowerblue" >Отменить</div>
            </div>
        </div>
    </a>
        <div class = "create_button_container">
            <div class = "button create_button_shadow">
                <button class="create_button" type="submit" style = "color: white; border-radius: 15px; background-color: cornflowerblue; margin: 10px 0px" form="form-main">Сохранить</button>
            </div>
        </div>
    </div>

    <script>
        window.onload = function (){
            var date = '{{ date | safe}}';
            var date_obj = document.getElementsByName('date');
            date_obj[0].value = date;
        }
    </script>
{% endblock %}

