{% extends 'createevent/create.html' %}

{% block nav %}
    <div class="bottom_nav">
        <div class = "create_button_container">
            <a class="button_link" href="{% url 'show_form_of_event' pk %}" >Отменить</a>
        </div>
        <div class = "create_button_container">
                <button class="button_link" type="submit"  form="form-main">Сохранить</button>
        </div>
    </div>

    <script>
        window.onload = function (){
            var date = '{{ date | safe}}';
            var date_obj = document.getElementsByName('date');
            date_obj[0].value = date;
        }
    </script>
{% endblock %}

